<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
<head>
	<title>Home</title>
</head>
<body>
<div layout:fragment="content">
	<h1>Home</h1>
	<p th:text="${'Hello ' + username}"></p>
	<p th:text="${'Name: ' + name}"></p>
	<p>Current user has these authorities:</p>
	<div class="row">
		<div class="col-auto">
			<ul class="list-group" th:each="grantedAuthority : ${authorities}">
				<li class="list-group-item" th:text="${grantedAuthority}"></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-auto">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Claim</th>
						<th scope="col">Value</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="claimEntry : ${claimEntries}">
						<td th:text="${claimEntry.key()}"></td>
						<td th:text="${claimEntry.value()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>